doctype html
html(xmlns="http://www.w3.org/1999/xhtml")
  head
    meta(charset="utf-8")
    meta(name='viewport', content="width=device-width, initial-scale=1, maximum-scale=1")
    meta(name="description", content="Fidel Coding Test")
    meta(name="author", content="Daniele Attruia")
    title Fidel Coding Test
    link(rel="stylesheet" type="text/css" href="app_components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="styles/style.css")
  body
    section(data-chart="")
    script(src="app_components/requirejs/require.js", data-main = "./require-config")