
$revenues-color : #ff721c;
$transactions-color : steelblue;

body {
  margin: 8px;
}

.container {
  width:100%;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  padding: 0;
}

.title {
  float: left;
}

.datePicker {
  float: right;

  span {
    margin: 10px;
  }

  .to, .from {
    float: left;
  }

  input {
    background-color: #9c9c9c;
    text-align: center;
    border-radius: 2px;
    color: white;
    border: none;
    width: 100px;
    height: 27px;
  }

}

.chartHeader {
  background-color: #f4f4f4;
  border-bottom: 1px solid #c2c2c2;
  height: 65px;
  padding:20px;
}

.chartContainer {
  text-align: center;
}

.chart-d3 {
  display: inline-block;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path, .y.axis path {
  display: none;
}

.x.axis .tick {
  stroke-dasharray: 5,5;
  text-transform: uppercase;
}

.area {
  fill: $transactions-color;
  opacity: 0.1;
}

.y.axis {

  &.revenues text {
    fill: $revenues-color;
  }

  &.revenues .tick line {
    display: none;
  }

  &.revenues .tick:first-child {
    display: none;
  }

  &.transactions text {
    fill: $transactions-color;
  }

  &.transactions .tick:first-child {
    display: none;
  }

  &.revenues text, &.transactions text {
    &.label {
      fill: black;
      font-size: x-small;
    }
  }

}

.area {

  opacity: 0.1;

  &.revenues{
    fill: $revenues-color;
  }
  &.transactions{
    fill: $transactions-color;
  }

}

.line {

  fill: none;
  stroke-width: 3px;

  &.transactions {
    stroke: $transactions-color;
  }

  &.revenues {
    stroke: $revenues-color;
  }

}

circle {

  fill: white;
  stroke-width: 3;

  &.revenues {
    stroke: $revenues-color;
  }

  &.transactions {
    stroke: $transactions-color;
  }

  &.box-row {

    stroke-width: 2;
    stroke: white;

    &.transactions {
      fill: $transactions-color;
    }

    &.revenues {
      fill: $revenues-color;
    }

  }

}

.tick line{
  opacity: 0.2;
}

.summary-box {
    width:180px;
    height:98px;
    fill:rgb(75,75,75);
}

.box-row {
  width:180px;
  height:30px;
  fill: rgb(114, 114, 114);
}

