- var datePickerMode = "{datepickerMode:'month',minMode:'month',minDate:chartCtrl.dateFilter.dateLimitTo, maxDate:chartCtrl.dateFilter.dateLimitFrom}"
.container
  .chartHeader
    .title Key Stats
    .datePicker
      .to
        span To
        input(
          type="text"
          data-datepicker-options="#{datePickerMode}"
          data-uib-datepicker-popup="MMM-yyyy"
          data-ng-model="chartCtrl.dateFilter.dateTo"
          data-is-open="openDateTo"
          data-ng-click="openDateTo=!openDateTo"
        )
      .from
        span From
        input(
          type="text"
        data-datepicker-options="#{datePickerMode}"
          data-uib-datepicker-popup="MMM-yyyy"
          data-ng-model="chartCtrl.dateFilter.dateFrom"
          data-is-open="openDateFrom"
          data-ng-click="openDateFrom=!openDateFrom"
        )
  .chartContainer
    chart-d3(
       data-chart-d3-data="chartCtrl.data"
       data-date-filter="chartCtrl.dateFilter"
       class="chart-d3"
      )